
/*background: linear-gradient(90deg, #000033,#037BB5,#000033);*/
body{
 margin: 0;
 background: url(NotesScreen.jpg);
 position: absolute;
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100vw;
 height: 100vh;
}





#main{
width:100%;
height:90vh;
position:relative;
top:20px;
margin:0;
overflow:hidden;

/*box-shadow:4px 10px 99px white ;*/
opacity:1;
}
#mainback{
	height:100%;
	width:100%;
	margin:0;
	position:absolute;
	border-bottom-style: solid;
	border-bottom-width: 20px;
	border-bottom-color:green;
	border-top-style: solid;
	border-top-width:20px;
	border-top-color:rgba(0,0,0,0.6);
	background: linear-gradient(180deg,  #757F9A,#D7DDE8);
	opacity:0.6;
}

.note{
	background-color:rgba(0,255,255,0.6);
	border-width:4px;
	border-color: rgba(255,255,255,0.8);
	border-style:solid;
	border-radius:10%;
	position:absolute;
	left:100px;
	top:100px;
	height:200px;
	width:200px;
}

	.a{
					background-color:rgba(0,255,255,0.6);
	border-width:2px;
	border-color:white;
	border-radius:10%;
	position:absolute;
	left:100px;
	top:100px;
	height:200px;
	width:200px;
			}
			
			
.note>textarea{

	overflow:hidden;
	resize:none;
	box-sizing:border-box;
	color:white;
	height:90%;
	border-radius:10%;
	margin:0;
	width:100%;
	float:bottom;
	background:transparent;
}

.note>textarea:focus{
	  outline:0px !important;
    -webkit-appearance:none;
}

#addNote {
	position:absolute;
	width:100px;
	height:100px;
	border-radius:50%;
	right:100px;
	bottom:100px;
}
#addNote>img{
	position:absolute;
	width:100px;
	height:100px;
}

#addNote>img:hover{
	position:absolute;
	width:100px;
	height:100px;
	opacity:0.8;
}


.options{
	display:inline ;
	height:10%;
		width:100%;
	cursor:-webkit-grab;
}
.options >input{
margin-left:10px;
}
.options >button{
height:10%;
  background-image: url( 'trash.png' );
  background-size:20px;
}

.options:hover{
	cursor:-webkit-grab;
}

.options:active{
	cursor:-webkit-grabbing;
}

