body{
	background:cyan;	
	width:100vw;
	height:100vw;
	margin:0;
	overflow:hidden;
}
#main{
width:98vw;
height:98vh;
position:relative;
left:15px;
top:5px;
background: linear-gradient(180deg,  #8e9eab,#eef2f3);
box-shadow:4px 10px 99px ;
border-width:2px;
border-color:white;
border-style:solid;
border-radius:10%;
opacity:0.6;
}
#note{
	
	background-color:cyan;
	border-width:2px;
	border-color:white;
	position:relative;
	height:100px;
	width:100px;
	
	
}